*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f7f7f7;
}

#box{
    width: 600px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    box-shadow: 0px 0px 10px 1px gray;
    padding: 40px;
    background-color: #ffffff;

}

input{
    width: 400px;
    font-size: 20px;
    border: none;
    margin-top: 30px;
    outline: none;
}

button{
    width: 120px;
    height: 40px;
    padding: 5px;
    font-size: 15px;
    background-color: #0078ff;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #005fcc;
}

.town::first-letter{
    text-transform: uppercase;
}